---
import { Hero } from '@/partials/Hero';
import { AppConfig } from '@/utils/AppConfig';
import { Section } from '@/components/Section';
import Base from '@/templates/Base.astro';


const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <Hero />
  <Section>
    <div>
      <p class="mt-6 text-xl leading-9">Hi 👋</p>
      <p class="mt-6">My name is Almaz and I am a Data Engineer with more than 9 years of experience. </p>
      <p>I have always been passionate about high-load and big-data systems and have been fortunate to be able to pursue my interests through my work and personal projects. In my free time, you can find me learning about new things that spark my curiosity. I am excited to share my passions and experiences with you, and I hope that you will join me on my journey of discovery and learning. </p>

      <div class="">
        <h1 class="mt-6 font-medium leading-10 text-xl text-upper">Specialities</h1>    
        <ul class="list-disc pl-6">
          <li>Data Engineering, Data Infrastracture, Platform Engineering</li>
          <li>Databricks: Spark, Spark SQL, Spark Streaming, Delta Lake House</li>
          <li>Data Catalogs: Atlan, Apache Atlas, Open Metadata</li>
          <li>AWS: S3, EC2, EMR</li>
          <li>Kafka, Airflow, dbt, docker, k8s</li>
          <li>Python, SQL, Java, Rust</li>
          <li>Limited experience in Frontend world: React, TypeScript, Tailwind</li>
        </ul>
      </div>
  
      <div>
        <h1 class="mt-6 font-medium leading-10 text-xl text-upper">Education</h1>
        <ul class="list-disc pl-6">
          <li>2019-2021: MSc in Big Data Systems, Higher School of Economy, Moscow</li>
          <li>2011-2015: BSc in Applied Informatics, Saratov State Technical University, Moscow</li>
        </ul>
      </div>
    </div>
  </Section>
</Base>