---
import { Hero } from '@/partials/Hero';
import { AppConfig } from '@/utils/AppConfig';
import Base from '@/templates/Base.astro';


const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <Hero />
  <div class='bg-slate-900 text-gray-100 flex flex-col h-screen m-l-auto m-r-auto'>
    <div>
      <p class="mt-6 text-xl leading-9">Hi 👋</p>

      <p class="mt-6 text-xl leading-9">My name is Almaz and I am a Data Engineer with more than 8 years of experience. I have always been passionate about high-load and big-data systems and have been fortunate to be able to pursue my interests through my work and personal projects. In my free time, you can find me learning about new things that spark my curiosity. I am excited to share my passions and experiences with you, and I hope that you will join me on my journey of discovery and learning.  Hi 👋, my name is Almaz and I am a Data Engineer with more than 8 years of experience. I have always been passionate about high-load and big-data systems and have been fortunate to be able to pursue my interests through my work and personal projects. In my free time, you can find me learning about new things that spark my curiosity. I am excited to share my passions and experiences with you, and I hope that you will join me on my journey of discovery and learning.</p>

      <div class="">
        <div>
          Specialities
        </div>
        <ul>
          <li>Data Engineering, Data Infrastracture, Analytics Engineering</li>
          <li>Databricks (Spark SQL, Spark Streaming, Delta Lake House)</li>
          <li>AWS (S3, EC2, EMR, Hive),</li>
          <li>Atlan, Apache Atlas, (Open Metadata)</li>
          <li>Kafka, Airflow, dbt, docker, k8s</li>
          <li>Python, SQL, Java, Scala, Rust</li>
        </ul>
      </div>
  
      <div>
        <div>
          Education
        </div>
        <ul>
          <li>2019-2021: MSc in Big Data Systems, Higher School of Economy, Moscowg</li>
          <li>2011-2015: BSc in Applied Informatics, Saratov State Technical University, Moscow</li>
        </ul>
      </div>
    </div>


    
  </div>
</Base>