<footer class="site-footer">
    <section class="copyright">
        ©
        2020 -
        2022 Hugo Theme Stack Starter
    </section>
    <section class="powerby">
        Built with <a href="https://gohugo.io/" target="_blank" rel="noopener">Hugo</a> <br>
        Theme <b><a href="https://github.com/CaiJimmy/hugo-theme-stack" target="_blank" rel="noopener" data-version="3.10.0">Stack</a></b> designed by <a href="https://jimmycai.com/" target="_blank" rel="noopener">Jimmy</a>
    </section>
</footer>