<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Almaz Murzabekov's blog" content="Almaz Murzabekov blog">

    <title>Almaz Murzabekov's blog</title>

    <link rel="canonical" href="https://almaz.murzabekov.net/">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/icon.ico">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DDNMG31JN9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DDNMG31JN9');
    </script>
</head>  