<aside class="sidebar right-sidebar sticky">
    <form action="https://demo.stack.jimmycai.com/search/" class="search-form widget">
    <p>
        <label>Search</label>
        <input name="keyword" required="" placeholder="Type something...">
        <button title="Search">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"></path>
                <circle cx="10" cy="10" r="7"></circle>
                <line x1="21" y1="21" x2="15" y2="15"></line>
            </svg>
        </button>
    </p>
    </form>
    <section class="widget archives">
    <div class="widget-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-infinity" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path d="M9.828 9.172a4 4 0 100 5.656A10 10 0 0012 12a10 10 0 012.172-2.828 4 4 0 110 5.656A10 10 0 0112 12 10 10 0 009.828 9.172"></path>
        </svg>
    </div>
    <h2 class="widget-title section-title">Archives</h2>
    <div class="widget-archive--list">
        <div class="archives-year">
            <a href="https://demo.stack.jimmycai.com/archives/#2022">
            <span class="year">2022</span>
            <span class="count">1</span>
            </a>
        </div>
    </div>
    </section>
    <section class="widget tagCloud">
    <div class="widget-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <line x1="5" y1="9" x2="19" y2="9"></line>
            <line x1="5" y1="15" x2="19" y2="15"></line>
            <line x1="11" y1="4" x2="7" y2="20"></line>
            <line x1="17" y1="4" x2="13" y2="20"></line>
        </svg>
    </div>
    <h2 class="widget-title section-title">Categories</h2>
    <div class="tagCloud-tags">
        <a href="https://demo.stack.jimmycai.com/categories/example-category/" class="font_size_1">
        Example Category
        </a>
    </div>
    </section>
    <section class="widget tagCloud">
    <div class="widget-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tag" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path d="M11 3l9 9a1.5 1.5.0 010 2l-6 6a1.5 1.5.0 01-2 0L3 11V7a4 4 0 014-4h4"></path>
            <circle cx="9" cy="9" r="2"></circle>
        </svg>
    </div>
    <h2 class="widget-title section-title">Tags</h2>
    <div class="tagCloud-tags">
        <a href="https://demo.stack.jimmycai.com/tags/example-tag/" class="font_size_1">
        Example Tag
        </a>
    </div>
    </section>
</aside>