<!DOCTYPE html>
<html lang="en-us" dir="ltr" data-scheme="light">
    {% include "header.liquid" %}

    <body style="transition: background-color 0.3s ease 0s;">
      {% include "dark_mode_scripts.liquid" %}

      <div class="container main-container flex on-phone--column extended">
        {% include "left_aside.liquid" %}
        <main class="main full-width">
          {% include "activity_chart.liquid" %}
          {{ page.content }}
        </main>
      </div>

      {% include "footer_scripts.liquid" %}
  </body>
</html>
